
/* 
    Created on : Aug 6, 2016, 11:27:25 AM
    Author     : Sergio Gómez <it@sergio.im>
*/

html, body{
    margin:0;
    overflow: hidden;
}



.table{
    display: block;
    width: 100vw; 
    height: 100vh;
    position: relative;
}

.worldmap{
    background-color: #444;
    display: block;
    position: relative; 
    width: 100%;
    height:100%;
}

.stroke {
    fill: none;
    stroke: #777;
    stroke-width: 1px;
}

.fill {
    fill: none;
}

.graticule {
    fill: none;
    stroke: none;
    stroke-opacity: 0.5;
    stroke-width: 0;
}

.land {
    fill: #999;
}

.boundary {
    fill: none;
    stroke: #666;
    stroke-width: 0.5px;
}

.menu{
    display: block;
    position: absolute;
    border: 1px solid #aeaeae;
    border-radius: 4px;
    width:150px;
    height:150px;
    z-index: 99;
}

.menu-top-left{
    top:0;
    left:0;
}

.menu-top-right{
    right:0;
    top:0;
}

.menu-bottom-left{
    left:0;
    bottom:0;
}
.menu-bottom-right{
    bottom:0;
    right:0;
}

.menu li{
    cursor:pointer;
}

.menu li.menu-selected{
    border-bottom: 1px solid #0000ff;
}
